<section class="rounded-lg h-full w-full grid bg-background px-8 py-8 lg:py-4 col-span-1">
  <div class="text-center text-foreground text-lg pt-2 pb-4 lg:hidden md:hidden">
    <h1>Metricas</h1>
  </div>
  <div
    class="rounded-lg bg-background text-xs grid grid-cols-2 gap-2 mx-auto lg:m-4 lg:gap-4 items-center justify-center lg:grid-cols-2 md:mx-4">
    <div
      class="rounded-lg border h-32 w-32 flex justify-center items-center flex-col shadow-lg cursor-pointer lg:h-full md:h-full md:w-full mb-4">
      <svg-icon src="assets/icons/heroicons/outline/reloj.svg" [svgClass]="'h-10 w-10 text-foreground'"></svg-icon>
      <span class="text-xs pt-1 lg:text-sm text-foreground">Postes SOS</span>
      <span class="text-xs lg:text-sm text-foreground">0</span>
    </div>
    <div
      class="rounded-lg border h-32 w-32 flex justify-center items-center flex-col shadow-lg cursor-pointer lg:h-full md:h-full md:w-full mb-4">
      <svg-icon src="assets/icons/heroicons/outline/money.svg" [svgClass]="'h-10 w-10 text-foreground'"></svg-icon>
      <span class="text-xs pt-1 lg:text-sm text-foreground">Proyectos</span>
      <span class="text-xs lg:text-sm text-foreground">0</span>
    </div>
    <div
      class="rounded-lg border h-32 w-32 flex justify-center items-center flex-col shadow-lg cursor-pointer lg:h-full md:h-full md:w-full">
      <svg-icon
        src="assets/icons/heroicons/outline/carro.svg"
        [svgClass]="'h-10 w-10 group-hover:stroke-white text-foreground'"></svg-icon>
      <span class="text-xs pt-1 lg:text-sm text-foreground">Operarios</span>
      <span class="text-xs lg:text-sm text-foreground">0</span>
    </div>
    <div
      class="rounded-lg border h-32 w-32 flex justify-center items-center flex-col shadow-lg cursor-pointer lg:h-full md:h-full md:w-full">
      <svg-icon src="assets/icons/heroicons/outline/reportes.svg" [svgClass]="'h-10 w-10 text-foreground'"></svg-icon>
      <span class="text-xs pt-1 lg:text-sm text-foreground">Alertas</span>
      <span class="text-xs lg:text-sm text-foreground">0</span>
    </div>
  </div>
</section>
