<section class="rounded-lg h-96 w-full grid bg-background px-8 py-8 lg:py-4 col-span-1">
  <div class="text-center text-foreground text-lg pt-2 pb-4 lg:hidden md:hidden">
    <h1>Metricas</h1>
  </div>
  <div
    class="rounded-lg bg-background text-xs grid grid-cols-2 gap-2 mx-auto lg:m-4 lg:gap-4 items-center justify-center lg:grid-cols-2 md:mx-4">
    <div
      class="rounded-lg border h-32 w-32 flex justify-center items-center flex-col shadow-lg lg:h-full md:h-full md:w-full mb-4">
      <svg-icon src="assets/icons/heroicons/outline/reloj.svg" [svgClass]="'h-10 w-10 text-foreground'"></svg-icon>
      <span class="text-xs pt-1 lg:text-sm text-foreground">En Alerta</span>
      <span class="text-xs lg:text-sm text-foreground">{{ alert }}</span>
    </div>
    <div
      class="rounded-lg border h-32 w-32 flex justify-center items-center flex-col shadow-lg lg:h-full md:h-full md:w-full mb-4">
      <svg-icon src="assets/icons/heroicons/outline/money.svg" [svgClass]="'h-10 w-10 text-foreground'"></svg-icon>
      <span class="text-xs pt-1 lg:text-sm text-foreground">Funcionando</span>
      <span class="text-xs lg:text-sm text-foreground">{{ working }}</span>
    </div>
    <div
      class="rounded-lg border h-32 w-32 flex justify-center items-center flex-col shadow-lg lg:h-full md:h-full md:w-full">
      <svg-icon
        src="assets/icons/heroicons/outline/carro.svg"
        [svgClass]="'h-10 w-10 group-hover:stroke-white text-foreground'"></svg-icon>
      <span class="text-xs pt-1 lg:text-sm text-foreground"> Por Configurar </span>
      <span class="text-xs lg:text-sm text-foreground">{{ disconnected }}</span>
    </div>
    <div
      class="rounded-lg border h-32 w-32 flex justify-center items-center flex-col shadow-lg lg:h-full md:h-full md:w-full">
      <svg-icon src="assets/icons/heroicons/outline/reportes.svg" [svgClass]="'h-10 w-10 text-foreground'"></svg-icon>
      <span class="text-xs pt-1 lg:text-sm text-foreground"> Conteo de Alertas </span>
      <span class="text-xs lg:text-sm text-foreground">{{ alertTotal }}</span>
    </div>
  </div>
</section>
