<section class="rounded-lg bg-background px-8 py-8">
  <div class="flex flex-col gap-2">
    <div class="inline-block">
      <h3 class="font-semibold text-base text-foreground font-montserrat">Proyectos</h3>
      <div class="space-x-1 text-sm font-medium text-muted-foreground font-montserrat">
        <span>Tableros - Proyectos</span>
      </div>
    </div>
    <p class="text-muted-foreground text-sm text-justify font-montserrat">
      En este contexto, le invitamos a explorar el mundo de la creación de proyectos personalizados, donde cada
      concesión representa una oportunidad única para administrar eficientemente la infraestructura de postes en su
      jurisdicción. Le damos la más cordial bienvenida al mundo de la gestión de concesiones de infraestructura, donde
      sus proyectos cobran vida con un propósito claro y definido.
    </p>
    <section class="rounded-lg h-full w-full grid bg-background pt-4">
      <ng-container *ngIf="!loading && !error && projects.length !== 0; else emptyOrLoading">
        <div
          class="rounded-lg bg-background text-xs grid grid-cols-1 w-5/6 h-full gap-4 mx-auto lg:m-4 lg:gap-4 md:w-9/12 lg:w-full items-center justify-center lg:grid-cols-3">
          <ng-container *ngFor="let project of projects">
            <app-project-card [project]="project"></app-project-card>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #emptyOrLoading>
        <ng-container *ngIf="!loading && !error && projects.length === 0; else loadingOrErrorTemplate">
          <div class="m-auto">
            <app-projects-empty></app-projects-empty>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #loadingOrErrorTemplate>
        <ng-container *ngIf="loading; else error500Template">
          <div class="m-auto">
            <app-loading></app-loading>
          </div>
        </ng-container>
      </ng-template>
      <ng-template #error500Template>
        <div class="m-auto">
          <app-error500></app-error500>
        </div>
      </ng-template>
    </section>
  </div>
</section>
