<form [formGroup]="form">
  <div class="card shadow-lg p-5 mb-5 bg-background rounded-lg card">
    <div class="card-header">
      <img src="assets/images/logo.png" alt="FTSTecnologia" srcset="">
    </div>

    <div class="card-body mt-4">
      <p class="text-sm text-muted-foreground text-center">
        Debes cambiar contraseña debido a que es tu primer inicio de sesion
      </p>
    </div>

    <div class="relative input_group">
      <input [type]="passwordTextType ? 'text' : 'password'" id="password"
        [ngClass]="{ 'is__invalid-input': submitted && f['contrasena'].errors }"
        class="rounded-lg border border-gray-300" placeholder="Ingrese Contraseña Actual"
        formControlName="contrasena" />
      <span class="absolute top-2 right-2 cursor-pointer text-muted-foreground" (click)="togglePasswordTextType()">
        <svg-icon [src]="
              !passwordTextType
                ? 'assets/icons/heroicons/outline/eye-off.svg'
                : 'assets/icons/heroicons/outline/eye.svg'
            " [svgClass]="'h-5 w-5'">
        </svg-icon>
      </span>
    </div>
    <div *ngIf="submitted && f['contrasena'].errors" class="is__invalid-error">
      <div *ngIf="f['contrasena'].errors['required']">Contraseña requerida</div>
    </div>

    <div class="relative input_group">
      <input type="password" id="nueva_contrasena"
        [ngClass]="{ 'is__invalid-input': submitted && f['nueva_contrasena'].errors }"
        class="rounded-lg border border-gray-300" placeholder="Nueva Contraseña"
        formControlName="nueva_contrasena" />
    </div>

    <div *ngIf="submitted && f['nueva_contrasena'].errors" class="is__invalid-error">
      <div *ngIf="f['nueva_contrasena'].errors['required']">Nueva Contraseña requerida</div>
    </div>
    <div class="grid grid-cols-4 gap-2 mt-6">
      <div class="h-1 rounded-sm bg-muted"></div>
      <div class="h-1 rounded-sm bg-muted"></div>
      <div class="h-1 rounded-sm bg-muted"></div>
      <div class="h-1 rounded-sm bg-muted"></div>
    </div>
    <span class="text-xs mt-6 text-muted-foreground">
      Use 8 o mas caractares con una combinacion de letras, numeros y simbolos.
    </span>

    <div class="relative input_group">
      <input type="password" id="confirmacion_contrasena"
        [ngClass]="{ 'is__invalid-input': submitted && f['confirmacion_contrasena'].errors }"
        class="rounded-lg border border-gray-300" placeholder="Confirmar Nueva contraseña"
        formControlName="confirmacion_contrasena" />
    </div>

    <div *ngIf="submitted && f['confirmacion_contrasena'].errors" class="is__invalid-error">
      <div *ngIf="f['confirmacion_contrasena'].errors['required']">Confirmacion de Contraseña requerida</div>
    </div>

    <div *ngIf="submitted && form.errors?.['ValidadorContrasena']" class="is__invalid-error">
      <div>Las contraseñas no son iguales</div>
    </div>

    <app-button  (click)="cambioContrasena()" full impact="bold" tone="primary" shape="rounded" size="medium" class="p-4">
      CAMBIAR CONTRASEÑA
    </app-button>
  </div>
</form>
